# Data Generation for Customer Retention and Loyalty Analysis

This notebook generates a synthetic dataset simulating customer transactions for a D2C fashion brand. The dataset includes customers, products, orders, and order items, and intentionally introduces small data quality issues to simulate real-world scenarios.

In [26]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

## Generate Products Table

In [27]:
categories = ["Oversized Tee", "Shirt", "Hoodie", "Jacket", "Pants"]

collection_types = ["Core", "Festive", "Limited Edition"]

In [28]:
def generate_price():
    price_type = random.choice(["low", "medium", "premium"])
    
    if price_type == "low":
        return random.randint(700, 899)
    elif price_type == "medium":
        return random.randint(900, 1499)
    else:
        return random.randint(1500, 1999)

In [29]:
products = []

for i in range(1, 61):
    product = {
        "product_id": f"P{i:03}",
        "category": random.choice(categories),
        "price": generate_price(),
        "collection_type": random.choice(collection_types)
    }
    products.append(product)

products_df = pd.DataFrame(products)
products_df.head()

  product_id category  price  collection_type
0       P001   Jacket   1841          Festive
1       P002   Jacket    822          Festive
2       P003    Pants    947  Limited Edition
3       P004   Hoodie    860  Limited Edition
4       P005    Pants   1101          Festive

In [30]:
products_df.to_csv("products.csv", index=False)

## Generate Customers Table

In [31]:
store_cities = ["Kochi", "TVM", "Calicut", "Bangalore", "Chennai"]

online_cities = [
    "Kochi", "TVM", "Calicut", "Bangalore", "Chennai",
    "Kollam", "Thrissur", "Kottayam", "Mysore",
    "Coimbatore", "Hyderabad", "Mumbai"
]

acquisition_channels = ["Organic", "Instagram", "Influencer", "Referral"]

In [32]:
def random_date(start, end):
    return start + timedelta(days=random.randint(0, (end - start).days))

In [33]:
start_date = datetime(2024, 7, 1)
end_date = datetime(2025, 12, 31)

In [34]:
customers = []

for i in range(1, 10001):
    customer = {
        "customer_id": f"C{i:05}",
        "city": random.choice(online_cities),
        "acquisition_channel": random.choice(acquisition_channels),
        "first_purchase_date": random_date(start_date, end_date)
    }
    customers.append(customer)

customers_df = pd.DataFrame(customers)
customers_df.head()

  customer_id        city acquisition_channel first_purchase_date
0      C00001     Chennai             Organic          2025-09-09
1      C00002    Thrissur           Instagram          2025-05-05
2      C00003    Thrissur            Referral          2024-12-11
3      C00004   Hyderabad            Referral          2025-02-01
4      C00005  Coimbatore            Referral          2025-12-11

In [35]:
customers_df.to_csv("customers.csv", index=False)

In [36]:
# introduce some inconsistent city names
customers_df.loc[customers_df.sample(frac=0.03).index, "city"] = "Cochin"

# introduce some missing acquisition channels
customers_df.loc[customers_df.sample(frac=0.02).index, "acquisition_channel"] = None

customers_df.to_csv("customers.csv", index=False)

In [37]:
customers_df.info()
customers_df["city"].value_counts().head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          10000 non-null  object
 1   city                 10000 non-null  object
 2   acquisition_channel  9800 non-null   object
 3   first_purchase_date  10000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 312.6+ KB

city
Bangalore     833
Hyderabad     832
Calicut       824
Coimbatore    823
Thrissur      822
Name: count, dtype: int64

## Generate Orders Table

In [38]:
payment_methods = ["Prepaid", "COD", "UPI", "Pay Later"]
campaign_types = ["Organic", "Influencer", "Festive", "Movie Promotion"]
order_channels = ["Online", "Store"]

In [39]:
def random_order_date():
    return random_date(start_date, end_date)

In [40]:
orders = []

for i in range(1, 40001):
    
    customer = customers_df.sample(1).iloc[0]

    order = {
        "order_id": f"O{i:06}",
        "customer_id": customer["customer_id"],
        "order_date": random_order_date(),
        "order_channel": random.choice(order_channels),
        "payment_method": random.choice(payment_methods),
        "campaign_type": random.choice(campaign_types),
        "discount_amount": random.randint(0, 300),
        "shipping_cost": random.randint(40, 120)
    }

    orders.append(order)

orders_df = pd.DataFrame(orders)
orders_df.head()

,order_id,customer_id,order_date,order_channel,payment_method,campaign_type,discount_amount,shipping_cost
0,O000001,C05743,2024-11-06,Store,Prepaid,Festive,52,56
1,O000002,C04861,2025-08-04,Store,COD,Organic,273,79
2,O000003,C08836,2025-12-03,Online,COD,Influencer,292,52
3,O000004,C01101,2025-06-12,Online,Pay Later,Movie Promotion,194,119
4,O000005,C03587,2024-07-28,Store,COD,Festive,110,84

In [41]:
orders_df.to_csv("orders.csv", index=False)

In [42]:
# missing campaign types in some rows
orders_df.loc[orders_df.sample(frac=0.03).index, "campaign_type"] = None

orders_df.to_csv("orders.csv", index=False)

In [43]:
orders_df.info()
orders_df["payment_method"].value_counts()
orders_df["campaign_type"].value_counts(dropna=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         40000 non-null  object
 1   customer_id      40000 non-null  object
 2   order_date       40000 non-null  datetime64[ns]
 3   order_channel    40000 non-null  object
 4   payment_method   40000 non-null  object
 5   campaign_type    38800 non-null  object
 6   discount_amount  40000 non-null  int64
 7   shipping_cost    40000 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 2.4+ MB

campaign_type
Festive            9860
Organic            9692
Influencer         9663
Movie Promotion    9585
None               1200
Name: count, dtype: int64

In [44]:
orders_df.to_csv("orders.csv", index=False)

In [45]:
import os
os.listdir()

['.anaconda',
 '.android',
 '.arduinoIDE',
 '.BigNox',
 '.conda',
 '.continuum',
 '.copilot',
 '.dbus-keyrings',
 '.gitconfig',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.lesshst',
 '.matplotlib',
 '.ms-ad',
 '.python_history',
 '.vscode',
 '3D Objects',
 'anaconda3',
 'AppData',
 'Application Data',
 'bank_loan_analysis.ipynb',
 'bkh.txt',
 'BullseyeCoverageError.txt',
 'Contacts',
 'Cookies',
 'customers.csv',
 'customer_shopping_behavior_exploration.ipynb',
 'd4ac4633ebd6440fa397b84f1bc94a3c.7z',
 'Desktop',
 'diary.txt',
 'Documents',
 'Downloads',
 'Favorites',
 'Game1',
 'import random.py',
 'inittk.ini',
 'inst.ini',
 'IntelGraphicsProfiles',
 'Links',
 'loan_analysis.ipynb',
 'Local Settings',
 'Microsoft',
 'Music',
 'My Documents',
 'My project',
 'NetHood',
 'Nox_share',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{fd43630f-149a-11f0-a5fb-adc2815db7fc}.TM.blf',
 'NTUSER.DAT{fd43630f-149a-11f0-a5fb-adc2815db7fc}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{fd43630f-149a-11f0-a5fb-adc2815db7fc}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'nuuid.ini',
 'OneDrive',
 'orders.csv',
 'Pictures',
 'postgresql_18.exe',
 'PrintHood',
 'products.csv',
 'Recent',
 'Revenue Data and Building a Dashboard Chandhana.ipynb',
 'Saved Games',
 'Searches',
 'SendTo',
 'source',
 'Start Menu',
 'Templates',
 'Untitled-1.py',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'useruid.ini',
 'Videos',
 'vmlogs']

## Generate Order Items Table

In [46]:
import random

order_ids = orders_df["order_id"].tolist()
product_ids = products_df["product_id"].tolist()

order_items = []
item_counter = 1

In [47]:
for order_id in order_ids:
    num_items = random.randint(1, 3)
    
    for _ in range(num_items):
        product_id = random.choice(product_ids)
        quantity = random.randint(1, 2)

        # get price from products table
        price = products_df.loc[
            products_df["product_id"] == product_id, "price"
        ].values[0]

        order_items.append({
            "order_item_id": f"OI{item_counter:06d}",
            "order_id": order_id,
            "product_id": product_id,
            "quantity": quantity,
            "price": price
        })

        item_counter += 1

In [48]:
order_items_df = pd.DataFrame(order_items)
order_items_df.head()

  order_item_id order_id product_id  quantity  price
0      OI000001  O000001       P030         1    794
1      OI000002  O000002       P012         2    715
2      OI000003  O000003       P007         1   1282
3      OI000004  O000003       P058         2    951
4      OI000005  O000003       P019         1   1100

In [49]:
order_items_df.to_csv("order_items.csv", index=False)

In [50]:
len(order_items_df)

79847

In [51]:
import os
os.listdir()

['.anaconda',
 '.android',
 '.arduinoIDE',
 '.BigNox',
 '.conda',
 '.continuum',
 '.copilot',
 '.dbus-keyrings',
 '.gitconfig',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.lesshst',
 '.matplotlib',
 '.ms-ad',
 '.python_history',
 '.vscode',
 '3D Objects',
 'anaconda3',
 'AppData',
 'Application Data',
 'bank_loan_analysis.ipynb',
 'bkh.txt',
 'BullseyeCoverageError.txt',
 'Contacts',
 'Cookies',
 'customers.csv',
 'customer_shopping_behavior_exploration.ipynb',
 'd4ac4633ebd6440fa397b84f1bc94a3c.7z',
 'Desktop',
 'diary.txt',
 'Documents',
 'Downloads',
 'Favorites',
 'Game1',
 'import random.py',
 'inittk.ini',
 'inst.ini',
 'IntelGraphicsProfiles',
 'Links',
 'loan_analysis.ipynb',
 'Local Settings',
 'Microsoft',
 'Music',
 'My Documents',
 'My project',
 'NetHood',
 'Nox_share',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{fd43630f-149a-11f0-a5fb-adc2815db7fc}.TM.blf',
 'NTUSER.DAT{fd43630f-149a-11f0-a5fb-adc2815db7fc}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{fd43630f-149a-11f0-a5fb-adc2815db7fc}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'nuuid.ini',
 'OneDrive',
 'orders.csv',
 'order_items.csv',
 'Pictures',
 'postgresql_18.exe',
 'PrintHood',
 'products.csv',
 'Recent',
 'Revenue Data and Building a Dashboard Chandhana.ipynb',
 'Saved Games',
 'Searches',
 'SendTo',
 'source',
 'Start Menu',
 'Templates',
 'Untitled-1.py',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'useruid.ini',
 'Videos',
 'vmlogs']

In [52]:
customers_df.isnull().sum()
orders_df.isnull().sum()
order_items_df.isnull().sum()

order_item_id    0
order_id         0
product_id       0
quantity         0
price            0
dtype: int64

In [53]:
customers_df.isnull().sum()
orders_df.isnull().sum()

order_id              0
customer_id           0
order_date            0
order_channel         0
payment_method        0
campaign_type      1200
discount_amount       0
shipping_cost         0
dtype: int64

In [54]:
customers_df.to_csv("customers.csv", index=False)
orders_df.to_csv("orders.csv", index=False)
products_df.to_csv("products.csv", index=False)
order_items_df.to_csv("order_items.csv", index=False)

In [55]:
import os
os.getcwd()

'C:\\Users\\hp'

In [57]:
import os

os.makedirs("data", exist_ok=True)

In [58]:
customers_df.to_csv("data/customers.csv", index=False)
products_df.to_csv("data/products.csv", index=False)
orders_df.to_csv("data/orders.csv", index=False)
order_items_df.to_csv("data/order_items.csv", index=False)

In [59]:
os.listdir("data")

['customers.csv', 'orders.csv', 'order_items.csv', 'products.csv']